body {
  height: 100%;
  overflow: hidden;
  font: 16px sans-serif;
  color: rgb(105, 155, 58);
  background-color: rgb(49, 49, 49);
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  padding: 1em;
  border-radius: 10px;
  z-index: 2; /*  scoreboard is above the main game area */
}

.scoreboard div, .scoreboard button {
  margin: 0.2em;
}

.scoreboard button:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Slight white overlay on hover */
}

.main {
  width: 800px;
  height: 600px;
  background-color: black; 
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.2);
  position: relative;
  margin: 0 auto;          /* Center the game area */
  /* border: 10px white; */
}

/*  centering the game over and win boxes */
.lose, .win {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%); 
  z-index: 2;
}

.main .laser, .main .enemy, .main .enemyLaser {
  z-index: 1;  /* Making sure the game elements are above the background */
}

header {
  text-align: center;
  background: rgb(59, 3, 49);
  color: white;
  padding: 20px 10px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border: 5px solid white;
  border-radius: 10px;
  width: 800px;            /* Same width as .main */
  margin: 0 auto;          /* Center the header */
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.2);
}

/* footer {
  padding: 10px;
  text-align: center;
  font-size: 11px;
  background: black;
  color: white;
} */

@keyframes scroll-background {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: 256px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main .laser {
  position: absolute;
  margin-left: -2.5px;
  height: 25px;
  /* default z-index is 0*/
  z-index: 2; /* laser is above the enemy*/
}

.main .enemy{
  position: absolute;
}

.main .enemyLaser {
  position: absolute;
  margin-left: -2.5px;
  height: 20px;
  z-index: 2;
}

 .lose {
  display: none;
  position: absolute;
  background: #6b1818;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}

.win  {
  display: none;
  position: absolute;
  background: #05c04d;
  color: white;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  animation: pop-in 1s;
}